*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
  
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  
  
}
.item-1, .item-2, .item-3{
  min-height: 26rem;
  max-width: 18rem;
  align-content: left;
  padding: 20px;
}
.item-1{
  background-color: hsl(31, 77%, 52%); 
}
.item-2{
  background-color: hsl(184, 100%, 22%); 
}
.item-3{
  background-color: hsl(179, 100%, 13%); 
}
h1{
  margin-top: 30px;
  font-family: 'Big Shoulders Display', cursive;
}
p, button{
  font-family: 'Lexend Deca', sans-serif;
}
p{
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 30px;
  line-height: 2;
}
h1, button{
  color: hsl(0, 0%, 95%);
}
.btn-1{
  color: hsl(31, 77%, 52%);
}
.btn-2{
  color: hsl(184, 100%, 22%)
}
.btn-3{
  color: hsl(179, 100%, 13%)
}
button{
  height: 40px;
  border-radius: 35px;
  border: none;
  margin-top: 50px;
  padding: 10px;
  width: 140px;
}
button:hover{
    background-color: transparent;
    border: white solid;
    color: hsl(0, 0%, 95%);
}
.content-1, .content-2, .content-3{
  text-align: left;
  padding: 20px;
}
footer {
    display: flex;
    justify-content: center;
    padding: 8px;
  font-size: 15px;
    background-color: #103b65;
    color: #fff;
}
@media (max-width: 900px){
    .container{
        flex-direction: column;
        padding: 5rem 0;
    }